.row.ml-2.mr-2(style="background: #f7f7f7;")
  .col-md-4.mt-3.mb-3
    .text-center
      img.img-fluid(src='assets/pointmark.png' alt='Responsive image')
    .row.justify-content-center.mt-2
      .container.ml-3.mr-3
        .ul.text-justify
          .li Dirección: Centro de Computación Gráfica, Escuela de Computación, Facultad de Ciencias, Universidad Central de Venezuela, Av. Los Ilustres, Los Chaguaramos.
          .li Teléfono: ++58(0) 212-6934243
          .li Correo: ccg@ciens.ucv.ve 
  .col-md-4.mt-3.mb-2
    .text-center
      img.img-fluid(src='assets/check.png' alt='Responsive image')
    .row.justify-content-center.mt-2
      .container.ml-3.mr-3
        .ul.text-justify
          .li Contamos con la siguientes instituciones asociadas: Escuela de Computación UCV, Facultada de Ciencias UCV, Instituto de Medicina Experimental  UCV, Instituto Nacional de Bioingeniería y Biotronics3D Ltd. 
  .col-md-4.mt-3.mb-2
    .text-center
      img.img-fluid(src='assets/edit.png' alt='Responsive image')
    .row.justify-content-center.mt-2
      .container.ml-3.mr-3
        .ul.text-justify
          .li El Centro de Computación Gráfica impulsa y da soporte a la Licenciatura en Computación, la Maestría y Doctorado en Ciencias de la Computación y a la Maestría en Bioingenería de la UCV. También se dictan diversos cursos relacionados con el área.