head
    title CCG WEB-PAGE
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    link(rel='icon' href='assets/Logo_ccg_nobg.png')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')