extends layout

block galeria

    .container
                    
            h3.my-4 Albumes
            .row
                each element in list
                    .col-md-3.mb-0
                        a(href='#')
                            img.img-fluid.w-100.h-50(src='assets/'+element.imagenDePortada alt='Responsive image')
                        a.d-flex.justify-content-center(href='#') #{element.titulo}
    
    
    script