extends layout

block content
    .container
        h3.my-4 Imagenes
        .row
            each element in list
                each imagen in element.imagenes
                    .col-md-3.mb-2
                        a.d-flex.justify-content-center(href='assets/'+imagen)
                            img.img-thumbnail(style='object-fit: cover; width: 250px; height: 250px;' src='assets/'+imagen alt='Responsive image')
