extends layout

block galeria

    .container
                    
            h3.my-4 Imagenes
            .row
                each element in list
                    each imagen in element.imagenes
                        .col-md-3.mb-0
                            a(href='assets/'+imagen)
                                img.img-fluid.w-100.h-50(src='assets/'+imagen alt='Responsive image')
