doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='icon', href='assets/Logo_ccg_nobg.png')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
  body
    block navbar

    script(type="text/javascript", src='/js/jquery.min.js')
    script(type="text/javascript", src='/js/popper.js')
    script(type="text/javascript", src='/js/bootstrap.min.js')